.circle {
  display: inline-flex; /* Để căn giữa nội dung */
  justify-content: center; /* Căn giữa nội dung theo chiều ngang */
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
  width: 40px; /* Đặt chiều rộng */
  height: 40px; /* Đặt chiều cao */
  border-radius: 50px; /* Tạo hình tròn */
  background-color: black; /* Màu nền */
  color: white; /* Màu chữ */
}
.card:hover .delete-btn {
  display: block; /* Hiển thị nút khi hover */
}
.card {
  border-radius: 100%;
}

.delete-btn {
  background-color: red; /* Nền đỏ cho nút xóa */
  position: relative;
  width: 50%;
  border-radius: 50px;
  color: white;
  border: solid black;
  cursor: pointer;
}
.give-btn {
  background-color: green; /* Nền đỏ cho nút xóa */
  position: relative;
  width: 50%;
  border-radius: 50px;
  color: white;
  border: solid black;
  cursor: pointer;
}
