.nav-link {
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.nav-link.active {
  background-color: black; /* Màu nền khi đang hoạt động */
  /* Màu chữ khi đang hoạt động */
}

.card {
  position: relative; /* Thiết lập vị trí tương đối */
  overflow: hidden; /* Đảm bảo rằng hiệu ứng không tràn ra ngoài */
  transition: box-shadow 0.3s ease; /* Hiệu ứng chuyển đổi cho bóng đổ */
}

/* Không hover */
.card {
  box-shadow: none; /* Không có bóng đổ */
}

/* Hover */
.card:hover {
  box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.7); /* Hiệu ứng hào quang màu vàng kim */
  filter: brightness(1.3); /* Tăng độ sáng lên 1.3 lần */
}

.card-body {
  display: none;
}
.card:hover {
  transform: translateY(-120px);
  transition: transform 0.3s ease, filter 0.3s ease; /* Thay đổi hiệu ứng cho hình ảnh */
}
.card:not(:hover) {
  transform: translateY(0px);
  transition: transform 0.3s ease, filter 0.3s ease; /* Thay đổi hiệu ứng cho hình ảnh */
}
.card:hover .card-body {
  display: block;
}
Footer {
  margin-top: 100px;
}

.addBtn {
  transition: transform 0.2s;
}

.addBtn:hover {
  transform: scale(1.05);
}
.nav-link {
  border-radius: 50px;
}
